/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
}
body {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #111111;
  background-color: #FFFFFF;
}
.wrapper {
 overflow: hidden;
 display: flex;
 flex-direction: column;
 min-height: 100%;

}
.main {
    flex: 1 1 1;
}
/* --------------------------- */

[class*="__container"] {
    max-width: 500px;
    margin: 0px auto;
}

.header__container{
    display: flex;
    justify-content: center;
    max-width: 336px;
    margin: 0px auto;
}
.header__logo{
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color:#4520AB;
    margin-top:44px;
    letter-spacing: -0.08em;
    
    
}
/* ----------------- */
.main {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0px auto;
    margin-top:86px;
    
}
.input__main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 56px;
    width: 500px;
    border-radius: 14px;
}
.input__input{
    margin:16.56px 35px 14.8px 21px;
}
.input__input input{
    width: 329px;
    height:24.64px;
    line-height: 23px;
    outline: 0;
    outline-offset: 0;
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #111111;
    letter-spacing: -0.05em;

}
input::placeholder {
    opacity: 0.4;
}
.main__button button{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #111111;
    width: 107px;
    height: 38.08px;
    border-radius: 8px;
    margin:8.96px 8px 8.96px 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.03em;
    font-family: IBM Plex Mono;
    padding-bottom: 10.04px;
    padding-top:5.04px;
    transition: all 0.3s ease-in-out;
}
.main__button:hover button{
    transform: scale(1.05);
}
/* ----------------- */
.main__block{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 500px;
    margin-top: 60px;
    min-height: 45px;
    margin-bottom: 60px;
}
.block__left{
    border-radius: 8px 0 0 8px;
    min-width: 249px;
    background-color: #F0F0F0;
    border-right: 2px solid #111111;
}
.block__right{
    min-width: 249px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0 8px 8px 0;
}
.block__left *,
.block__right *{
    height:40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.block__right *{
    justify-content: space-between;
}

.block__left__2,
.block__right__2{
  border-top: 1px solid #111111;
  position: relative;
}
[class*="number"] {
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: -0.05em;
    margin: 0 28px 0 12px;
    width: 9px;
}
.cross{
    display: flex;
    width: 18px;
    height: 18px;
    margin: 0 11px 0 0;
    transition: all 0.2s ease-in-out;
}
[class*="right__"] {
    padding-left:28px;
}
.cross:hover{
    transform: scale(1.2);
}
/* =================== */
.footer{
    padding-bottom:60px;
}
.footer__container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.button_bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #ADADAD;
    width: 176px;
    height: 38px;
    border-radius: 8px;
    color: #0F0F0F;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.05em;
    font-family: IBM Plex Mono;
    transition: all 0.3s ease-in-out;
}
.button_bottom:hover{
    transform: scale(1.02);
}
.button_bottom .cross{
    width: 24px;
    height: 24px;
    margin: 6px 12px 8px 10px;
}
.button_bottom h6{
    margin: 6.5px 10px 8px 0;
}
.adviceleft{
    display: none;
}
.block__left__2:hover .adviceleft{
    position: absolute;
    display:block;
    padding: 8px 16px 10px;
    background: #FFFFFF;
    gap: 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 190px;
    letter-spacing: -0.03em;
    font-size: 16px;
    line-height: 20px;
    z-index: 1;
    left:34px;
    top: 6px;
    height: fit-content;
    overflow-wrap: break-word;
}
.adviceright{
    display: none;
}

.block__right__2:hover .adviceright{
    position: absolute;
    display:block;
    padding: 8px 16px 10px;
    background: #FFFFFF;
    gap: 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 190px;
    letter-spacing: -0.03em;
    font-size: 16px;
    line-height: 20px;
    z-index: 1;
    top: 6px;
    left: 12px;
    overflow-wrap: break-word;
    height: fit-content;
}
/* MOBILE */

@media(max-width:767.98px) {
    [class*="__container"] {
        max-width: none;
    }
    .header__container{
        max-width: 308px;
    }
    .header__logo{
        font-weight: 600;
        font-size: 36px;
        line-height: 47px;
        margin-top:20px;
        letter-spacing: -0.07em;       
    }
    .main {
        max-width: 328px;
        margin-top:76px;        
    }
    .input__main{
        height: 56px;
        width: 328px;
    }
    .input__input{
        margin:16.56px 5px 14.8px 21px;
    }
    .input__input input{
        
        width: 189px;
        height:24.64px;
        line-height: 20px;
        font-size: 15px;
        letter-spacing: -0.05em;
    
    }
    .main__block{
        max-width: 328px;
        margin-top: 50px;
        min-height: 45px;
        margin-bottom: 40px;
    }
    .block__left{
        min-width: 163px;
    }
    .block__right{
        min-width: 163px;
    }
    .block__left__2:hover .adviceleft{
        max-width: 145px;
        left:10px;
        top: 6px;
    }
    .block__right__2:hover .adviceright{
        max-width: 120px;
        top: 6px;
        right: 5px;
    }
    [class*="number"] {
        margin: 0 16px 0 12px;
    }
    .cross{
        width: 24px;
        height: 24px;
        margin: 0 8px 0 0;
    }
    [class*="right__"] {
        padding-left:16px;
    }
    .footer{
        padding-bottom:30px;
    }
}